

.svgRickMorty{
    margin:20px;
}

.notFound{
    box-shadow:0 3px 15px rgba(0,0,0,.1);
    text-align: center;
    background:var(--white);
    padding:20px 10px;
    border-radius: 10px;
    max-width:400px;
    margin:0 auto;
}
.notFound img{
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius: 50%;
}

.notFound h2{
    padding:10px 0;
}

.notFound h3{
    padding:10px 0;
    font-size:18px
}

.notFound p{
    color:var(--text-light)
}

@media(min-width:40em){
    .svgRickMorty{
        width:200px;
        align-self: flex-start;
        margin:20px 0 0 0;
    }
    .header{
        display:flex;
        align-items: center;
    }
    .logoContainer{
        width:20%;
        display:flex;
        height:80px;
        align-self:flex-start
    }
    .searchBarContainer{
        width:80%;
        padding:20px 0
    }
}